# ----------------------------------------------------------------
# Arquivos e pastas específicas de Python
# ----------------------------------------------------------------
__pycache__/
*.py[cod]
*.pyo
*.so
*.egg
*.egg-info/
dist/
build/
env/
venv/
.venv/
pip-wheel-metadata/

# ----------------------------------------------------------------
# Arquivos e pastas específicas de Node.js
# ----------------------------------------------------------------
node_modules/
npm-debug.log
yarn-error.log
pnpm-lock.yaml

# ----------------------------------------------------------------
# Logs e arquivos temporários
# ----------------------------------------------------------------
*.log
*.tmp

# ----------------------------------------------------------------
# Arquivos de configuração de IDEs
# ----------------------------------------------------------------
.vscode/
.idea/

# ----------------------------------------------------------------
# Arquivos do sistema operacional
# ----------------------------------------------------------------
.DS_Store
Thumbs.db

# ----------------------------------------------------------------
# Se tiver um arquivo .env ou similar, ignore também:
# ----------------------------------------------------------------
.env
